<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mumu.woodlin.system.mapper.SysRolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.mumu.woodlin.system.entity.SysRolePermission">
        <result column="role_id" property="roleId" />
        <result column="permission_id" property="permissionId" />
    </resultMap>

    <select id="selectPermissionIdsByRoleId" resultType="long">
        SELECT permission_id
        FROM sys_role_permission
        WHERE role_id = #{roleId}
        ORDER BY permission_id ASC
    </select>

    <delete id="deleteByRoleId">
        DELETE FROM sys_role_permission
        WHERE role_id = #{roleId}
    </delete>

    <insert id="batchInsert">
        INSERT INTO sys_role_permission (role_id, permission_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.roleId}, #{item.permissionId})
        </foreach>
    </insert>

</mapper>
