*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  line-height: 1.5;
  color: var(--text-color-primary);
  background: var(--bg-color-secondary);
  font-family: var(--font-family);
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
